@require "../../../style/global"

._header
  background-color $background-gray
  border-bottom 1px solid $border-gray
  .navs
    width 500px
    display flex
    justify-content center
    margin 0 auto
    padding 0
    list-style none
    position relative
    li
      width 100px
      padding 20px
      line-height 25px
      text-align center
      cursor pointer
      &:nth-last-child(1)
        position absolute
        left 0
        bottom 0
        border-bottom: 5px solid $main-blue
