@require "../../style/global"

.message
  width: 100%
  overflow: auto
  .send
    text-align: center
    width: 100%
    margin: 0 auto
    padding: 10px 0 30px 0
    label
      width: 100%
      display: block
      vertical-align: top
      color: $font-color
      margin-top: 20px
    &:after
      height: 0
      width: 0
      border-left: 50px solid transparent
      border-right: 50px solid transparent
      border-bottom: 100px solid red
      display: inline-block
      span
        display: inline-block
        width: 100px
    textarea
      width: 350px
      padding: 0 10px
      box-sizing: border-box
      margin-top: 10px
      outline: none
      padding: 10px
      border: 1px solid $border-gray
      display: inline
      height: 100px
      vertical-align: top
      resize: none
      border-radius 5px
      &:focus
        border-color:$main-green
    a
      display: inline-block
      width: 50px
      height: 50px
      line-height: 50px
      border-radius: 100%
      margin: 20px 0 0 0
      font-weight: bolder
      font-size: 20px
      color: $main-green
      text-align: center
      border: 1px solid $border-gray
      background-image: none
      padding-right: 3px
      box-sizing: border-box
      &:active
        background: $main-green
        color: white
    #message
      height: 70px

  .message-list
    width: 100%
    margin: 0 auto
    > div:nth-last-child(1)
      margin-bottom: 0 !important
      background: url("/assets/images/time-line-half.png") #f5f5f5 center center no-repeat
    .node-left
      text-align: right;
      padding: 15px 0 15px 0;
      padding-right: 51.5%
      background: url("/assets/images/time-line.png") #f5f5f5 center center no-repeat
      .node-item
        .arrow
          border-left: 10px solid white
          left: 100%
          &:after
            border-left: 10px solid rgba(0,0,0,.2)
            left: -9px
      ul
          li:nth-child(1)
            color: #59d5d1
            font-size: 15px
            &:after
              content: "•"
              position: absolute
              right: 15px
          li:nth-child(2)
            text-align: left
    .node-right
      text-align: left;
      padding-left: 51.5%;
      background: url("/assets/images/time-line.png") #f5f5f5 center center no-repeat
      .node-item
        .arrow
          border-right: 10px solid white
          right: 100%
          &:after
            border-right: 10px solid rgba(0,0,0,.2)
            left: -1px
        ul
          li:nth-child(1)
            color: #edbb21
            font-size: 15px
            &:before
              content: "•"
              position: absolute
              margin-left: -10px
    .node-left, .node-right
      margin-bottom: -15px
      .node-item
        background-color: #fff
        border: 1px solid rgba(0,0,0,0.2)
        border-radius: 6px
        padding: 8px 25px
        display: inline-block
        position: relative
        z-index: 99
        max-width: 400px
        box-shadow: 0 0 3px #ccc;
        .arrow
          width: 0
          height: 0
          border-top: 10px solid transparent
          border-bottom: 10px solid transparent
          position: absolute
          top: 50%
          margin-top: -10px
          &:after
            width: 0
            height: 0
            border-top: 10px solid transparent
            border-bottom: 10px solid transparent
            position: absolute
            content: ""
            top: -10px
            z-index: -1
        ul
          margin: 0
          padding: 0
          list-style: none
          li:nth-child(1)
            cursor: pointer
            display: inline-block
          li:nth-child(2)
            color: $font-color
            font-size: 14px
            margin: 10px 0 8px 0
          li:nth-child(3)
            color: #888
            font-size: 12px
            padding-left: 14px
            background-size: 10px
            line-height: 12px;
            display: inline;
