@require "../style/global"
*
  margin 0
body
  line-height 13px
  label
    cursor pointer
    margin-right 10px
  #container
    .content-body
      display flex
      flex-direction column
      position fixed
      left 0
      height 100%
      width 100%
      > div:not(._header)
        flex 1
      .content
        width 100%
        display flex
        flex 1
      .foot
        margin 0
        padding 0
        background-color #333
        color white
        height 40px
        display block
        width 100%
        line-height 40px
        text-align center
        z-index 9999
