._header
  background-color: $main-blue
  text-align: center
  span.logo
    display: inline-block
    padding: 0 65px 0 65px
    font-size: 50px
    vertical-align: middle
    color: white
    text-shadow: 0 0 4px #028daf
    position: absolute
    left: 0
    line-height: 98px
  ul
    display: inline-block
    margin: 0
    padding: 0
    li
      display: inline-flex
      width: 100px
      padding: 33px 10px
      text-align: center
      border-radius: 100%
      a
        display: inline-block
        color: white
        width: 100%
        text-decoration: none
      &.active
        background-color: white
        border: 6px solid #0FBAE5
        a
          color: $main-blue
          font-weight: bold
  span.search
    display: inline-block
    width: 180px
    vertical-align: middle
    position: absolute
    margin: 30px 0 0 15%
  .input-group
    position: relative

@media screen and (max-width: 800px)
