._header
  background-color: $main-blue
  text-align: center
  span.logo
    display: inline-block
    padding: 0 65px 0 65px
    font-size: 40px
    vertical-align: middle
    color: white
    text-shadow: 0 0 4px #028daf
    position: absolute
    left: 0
    line-height: 98px
  .navs
    display: inline-block
    margin: 0
    padding: 0
    li
      display: inline-flex
      width: 100px
      padding: 33px 10px
      text-align: center
      border-radius: 100%
      a
        display: inline-block
        color: white
        width: 100%
        text-decoration: none
        transition: 0.3s ease
        border-radius: 3px
      a:hover
        color: $main-blue
        text-shadow: 0 0 1px #ccc
        background-color: white
      &.active
        background-color: white
        border: 6px solid #0FBAE5
        transition: 0.3s ease
        a
          color: $main-blue
          font-weight: bold
          text-shadow: 0 0 3px #ccc
          font-size: 18px
          line-height: 20px
      &.active:hover
        box-shadow: inset 0 0 5px #999
  .account-group
    position: absolute
    margin-left: 5%
    margin-top: 38px
    vertical-align: middle
    color: white
    a
      border: 1px solid white
      transition: .3s ease
      line-height: 25px
      display: inline-block
      width: 65px
      color: white
      outline: none
    a:focus
      text-decoration: none
    a:nth-child(1)
      border-radius: 5px 0 0 5px
    a:nth-child(2)
      border-radius: 0 5px 5px 0
      border-left: none
    a:nth-child(1):hover
      background: white
      color: $main-blue
      text-decoration: none
    a:nth-child(2):hover
      background: white
      color: $main-red
      text-decoration: none
  .account-name
    position: absolute
    margin-left: 5%
    padding: 24px 0
    .btn-group.open .dropdown-toggle
      box-shadow: none
    .btn-group
      button
        background: none
        border: none
        color: white
        span:nth-child(1)
          margin-right: 5px
      ul
        min-width: 100px
        li
          cursor: pointer
          text-align: center
        li:hover
          background: #ddd
    img
      width: 50px
      border-radius: 100%
      border: 1px solid white