@require "global"

._header
  background-color $background-gray
  border-bottom 1px solid $border-gray
  position relative
  .navs
    width 500px
    display flex
    justify-content center
    margin 0 auto
    padding 0
    list-style none
    position relative
    li
      width 100px
      padding 20px
      line-height 25px
      text-align center
      cursor pointer
      &:nth-last-child(1)
        position absolute
        left 0
        bottom 0
        border-bottom: 5px solid $main-blue
        box-sizing border-box

._header-contact
  position: absolute
  right: 10px
  top: 50%
  margin-top: -9px
  cursor: pointer
  font-size: 1.5em
  i
    color: #333
    cursor: pointer
    &:hover
      text-shadow: 0 0 4px #FFF
