.home-list
  background-color: #f5f5f5
  padding: 15px 20%
  position: relative
  .home-item:nth-child(2)
    border-top: none !important
  a
    display: inline-block
    font-size: 25px
    color: $main-blue
    margin-bottom: 5px
  a:hover
    color: $main-blue
  .home-item
    padding: 20px
    border-top: 1px solid #ddd
    .home-content
      font-size: 15px
      text-indent: 40px
      color: #444
    .home-time
      color: $font-color
      font-size: 12px
      margin: 0 0 0 30px
      text-align: right
