@require "./default"

$main-blue = #0FBAE5
$main-red = #DA4040
$main-green = #20B583
$background-gray = #ECEBEB
$border-gray = #CCCCCC
$font-color = #666666

body
  font-family: FontAwesome

::-webkit-scrollbar
  height:8px
  width:8px
  background:rgba(222, 222, 222, 0.5)
  border-radius:5px
::-webkit-scrollbar-button
  display:none
::-webkit-scrollbar-track
  background-color:#ffffff
::-webkit-scrollbar-track-piece
  background:#ffffff
::-webkit-scrollbar-thumb
  width:8px
  min-height:15px
  background:rgba(0, 0, 0, 0.3)
  border-radius:5px
::-webkit-scrollbar-thumb:hover
  background:rgba(0, 0, 0, 0.6)
::-webkit-scrollbar-thumb:active
  background:rgba(0, 0, 0, 0.8)
