@require "./default"

$main-blue = #0FBAE5
$main-red = #DA4040
$main-green = #20B583
$main-yellow = #F79C34
$background-gray = #ECEBEB
$border-gray = #CCCCCC
$font-color = #666666

body
  font-family: "Avenir"

::-webkit-scrollbar
  height 6px
  width 6px
  background transparent
  border-radius 5px
::-webkit-scrollbar-button
  display none
::-webkit-scrollbar-track
  background-color transparent
::-webkit-scrollbar-track-piece
  background transparent
::-webkit-scrollbar-thumb
  width 5px
  height 5px
  background $main-green
  border-radius:5px
::-webkit-scrollbar-thumb:hover
  background darken($main-green, 10%)
::-webkit-scrollbar-thumb:active
  background darken($main-green, 20%)
