@require "../style/global"
*
  margin: 0
body
  background-color: #ECE4E4
  line-height: 13px
  label
    cursor: pointer
    margin-right: 10px
  #container
    .content-body
      display: flex
      flex-direction: column
      position: fixed
      left: 0
      height: 100%
      width: 100%
      .content
        width: 100%
        display: flex
        flex: 1
        background-color: #f5f5f5
      .foot
        margin: 0
        padding: 0
        background-color: #333
        color: white
        height: 35px
        display: block
        width: 100%
        line-height: 35px
        text-align: center